
<h1>Listing pictures</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Description</th>
  </tr>

  <% @picture.each do |picture| %>
      <td>
        <td><%= picture.title %></td>
        <td><%= picture.image %></td>
        <td><%= picture.description%></td>
        <td><%= link_to 'Show', picture_path(picture) %></td>
        <td><%= link_to 'Edit', edit_picture_path(@picture) %></td>
        <td>delete</td>
      </tr>
  <% end %>
</table>